services:
  bot:
    image: docker.local.kye.dev/brophylactic-bot:latest
    container_name: brophylactic-bot
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "3"
    labels:
      stook: redeploy
    environment:
      - BOT_TOKEN=${BOT_TOKEN:?err}
      - DISCORD_PUBLIC_KEY=${DISCORD_PUBLIC_KEY:?err}
      - DISCORD_SERVER_ID=${DISCORD_SERVER_ID:?err}
      - FIREBASE_64=${FIREBASE_64:?err}
      - NODE_ENV=production
      - LOG_LEVEL=${LOG_LEVEL:-info}

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: brophylactic-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN:?err}
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "3"
